@font-face {
	font-family: Inter;
	src: url("Inter-VariableFont_slnt\,wght.ttf")
}

html {
	background: black url(image/Background.jpg) center center no-repeat;
	background-size: cover;
	color: white;
}

@media (min-width: 280px) {
	html {
		margin: auto;
		padding: 1rem;
	}
}

body {
	display: block;
	/* place-items: center; */
	text-align: center;
	margin: 0;
	font-family: Inter, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

@media (min-width: 810px) {
	body {
		display: grid;
	}
}


.Container {
	background-color: rgba(79, 109, 245, 0.8);
	padding: 1rem;
	font-size: clamp(1rem, 2vw, 2rem);
	line-height: 1.5em;
}

@media (min-width: 300px) {
	.Container {
		margin: 2vh auto;
		padding: 1rem;
		border-radius: 2rem;
	}
}

/* @media (min-width: 300px) {
	.Container {
		margin: 4vw auto;
		padding: 3rem;
	}
} */

.TitlulPaginii {
	display: block;
	margin-top: 24px;
	margin-bottom: auto;
	font-weight: 400;
	font-size: clamp(2rem, 6vw, 4rem);
	line-height: 1em;
}

header {
	padding: 5px;
	color: #fff;
	background-color: #324d8b;
	border-radius: 2rem 2rem 0 0;
	margin-bottom: 5vh;
}


.Avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	/* float: left; */
	width: 112px;
	height: auto;
	/* margin: 0 1em 0 0; */
	border: 2px solid rgb(175, 175, 175);
	border-radius: 50%;
	box-shadow: 1px 1px 1px 0 rgb(175, 175, 175);
}

@media (min-width: 930px) {
	.Avatar {
		width: clamp(130px, 14vw, 12rem);
	}
}

.DescrierePrincipala {
	/* padding: 5px;
	color: #fff;
	background-color: #324d8b; */

}

main {}

.ListaLinkuri {
	display: block;
	margin: 0;
	padding: 0;
	border-top: 1px solid #fff;
}

.ListaItem {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #fff;
}

.ListaLink {
	display: block;
	margin: 0.5em;
	color: #fff;
	text-decoration: none;
}

.ListaLink:hover {
	background: #fff;
	color: rgb(0, 0, 0);
}


.ListaTitlu,
.ListaText {
	display: block;
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

.ListaText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fab {
	color: #fff;
	/* padding: 0 20px 0 0; */
	background-color: #324d8b;
	margin-right: 20px;
	padding: 5px;
	border-radius: 20%;
}

.fas {
	color: #fff;
	/* padding: 0 20px 0 0; */
	padding: 5px;
	margin-right: 20px;
	background-color: #324d8b;
	border-radius: 20%;
}

.fa-facebook-f {
	padding: 5px 9px;
}

/* @media (min-width: 1200px) {
	.ListaLinkuri {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
} */